h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  border: 1px solid #375bd2;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  h3 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  h3 {
    font-size: 1.0em;
  }
}

@media only screen and (min-width: 550px) and (max-width: 800px) {
  h3 {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 550px) {
  h3 {
    font-size: 0.3em;
  }
}
